@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,300&display=swap');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/


#css-zen-garden {

}
#zen-intro {
    
}
#zen-summary {

}
#zen-preamble {
    background-image: url("texture1.png");
    background-repeat: no-repeat;
    background-size:cover;
}
#zen-supporting {

}
#zen-explanation {

}
#zen-participation {

}
#zen-benefits {

}
#zen-requirements {

}
#design-selection {

}
#design-archives {

}
#zen-resources {

}
/*Text Stylings below*/
h1 {
    font-family: 'Dosis', sans-serif;
}
h2 {
    font-family: 'Dosis', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
p {
    line-height: 1.15;
    font-family: 'Roboto Slab', serif;

}
header {
    grid-area: header;
    padding: 30px;
    position: relative;
    top: -60px;
    line-height: 50px;
    text-align: left;
    font-size: 60px;
    background-image: url("iceland.png");
    background-color: black;
    color:palegoldenrod;
    font-weight: bolder;
}
footer {

}
body {
    margin: 0;
}