@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,300&display=swap');
/*
font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/


#css-zen-garden {

}
#zen-intro {

}
#zen-summary {

}
#zen-preamble {

}
#zen-supporting {

}
#zen-explanation {

}
#zen-participation {

}
#zen-benefits {

}
#zen-requirements {

}
#design-selection {

}
#design-archives {

}
#zen-resources {

}
/*Text Stylings below*/
h1 {

}
h2 {

}
h3 {

}
p {

}
header {

}
footer {

}